#home {
    display: flex;
    justify-content: space-between;
}

#myStatus {
    display: flex;
    flex-direction: column;
}

#choose-container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#mini {
    background-color: gray;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
}

#tour {
    margin: 0 auto;
    display: flex;
    background-image: url("../../public/asset/design/pang2.png");
    background-size: 100%;
    width: 300px;
    height: 300px;
}

#pong {
    margin: 0 auto;
    display: flex;
    background-image: url("../../public/asset/design/pang1.png");
    background-size: 100%;
    width: 300px;
    height: 300px;
}

.word {
    margin: 0 auto;
    text-align: center;
    color: black;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}