#container {
  width: 100%;
  height: 100%;
}

#login-box {
  background-image: url("../../public/asset/background/board.png");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
  margin: 5px;
  width: 280px;
  height: 403px;
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#infos {
  display: flex;
  flex-direction: row;
}

.info {
  margin:10px;
}

#other-btns {
  display: flex;
  justify-content: center;
}

.btns {
  margin: 3px;
}